<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sotietkiem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TachToan"></activity>
        <activity android:name=".GuiThem" />
        <activity android:name=".RutMotPhan" />
        <activity android:name=".SuaSTK" />
        <activity android:name=".ThemSTK" />
        <activity android:name=".DSSTKActivity" />
        <activity android:name=".DangNhapActivity" />
        <activity android:name=".DangKyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>